import/sources/txt
import/sources/pdf
import/sources/zip
import/sources/lfv
import/sources/avinor
import/sources/log
import/changes
import/takeoffs/lastid
import/takeoffs/*.geojson
import/result
import/log
import/hoering
*__pycache__*
.*swp
